{% extends "tasks/layout.html" %}

{% block header %}Create Task{% endblock %}

{% block main %}
    <form method="post" class="add-task-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.task.errors }}
            <label for="{{ form.task.id_for_label }}">Task Title</label>
            {{ form.task }}
        </div>
        
        <div class="form-actions">
            <button type="submit" class="save-btn">Save Task</button>
            <a href="{% url 'tasks:index' %}" class="cancel-btn">Cancel</a>
        </div>
    </form>
{% endblock %}